select {
    height: 38px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    outline: none;
    border: none;
}

.exchangeDiv {
   display: flex;
   
}

.btn {
    margin-left: 10px;
}

.messageTxt {
    color: #000;
}